* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-nav {
  max-width: 1280px;
  background-color: #0d6efd;
  margin: 0 auto;
  height: 62px;
}
.navbar__logo img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  /* margin: 10px; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navbar .navbar__menu .list-navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
}
.navbar .navbar__menu .list-navigator li {
  list-style: none;
}
.navbar .navbar__menu .list-navigator li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.navbar .navbar__menu .list-navigator li a:hover {
  color: #000000;
}
.banner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  height: 400px;
  margin-top: 20px;
}
.banner .banner__img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.banner .banner__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin-top: 30px;
}
.banner .banner__content {
  width: 50%;
  padding: 0 20px;
}
