* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container-nav {
  max-width: 1280px;
  background-color: #0d6efd;
  margin: 0 auto;
  height: 60px;
}
.navbar__logo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.navbar .navbar__menu .list-navigator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 40px;
}
.navbar .navbar__menu .list-navigator li {
  list-style: none;
}
.navbar .navbar__menu .list-navigator li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.navbar .navbar__menu .list-navigator li a:hover {
  color: #000000;
}
